[submodule "sqlite-amalgamation"]
	path = sqlite-amalgamation
	url = https://github.com/mirek/sqlite-amalgamation.git
[submodule "JSONKit"]
	path = JSONKit
	url = https://github.com/johnezang/JSONKit
