[submodule "sqlite-amalgamation"]
	path = sqlite-amalgamation
	url = https://github.com/mirek/sqlite-amalgamation.git
[submodule "FMDB"]
	path = FMDB
	url = https://github.com/ccgus/fmdb.git
[submodule "lz4"]
	path = lz4
	url = https://github.com/lz4/lz4.git
