<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bundle Display Name</key>
	<string>Firefox</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSFirefoxPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Firefox Plugin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>AC</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014, QSApp.</string>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>categories</key>
		<array>
			<string>Web</string>
			<string>Applications</string>
		</array>
		<key>description</key>
		<string>Bookmarks &amp; History for Firefox</string>
		<key>extendedDescription</key>
		<string>&lt;h3&gt;Firefox Plugin&lt;/h3&gt;
&lt;p&gt;This plugin gives you access to your Firefox bookmarks and history for more recent Firefox versions (3.0 and later). It also provides a "Current Web Page (Firefox)" proxy object.&lt;/p&gt;
&lt;p&gt;This plugin adds a "Firefox" catalog group, with "Firefox Bookmarks" and "Firefox History" as subentries.&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Firefox Bookmarks&lt;/strong&gt; includes all the URLs you bookmarked, without any folder structure or tags you might have applied.&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Firefox History&lt;/strong&gt; contains the last 200 URLs you visited. This is disabled by default, but can be enabled easily in the catalog section of the preferences. The history is limited to the most recent 200 URLs, so the Quicksilver catalog doesn't get too large. With too many items in the catalog, Quicksilver slows down considerably. If this isn't enough of your browsing history and Quicksilver still feels fast enough, you can change this number. Currently there is no user interface for it, but you can change it manually. Got to:
&lt;code&gt;~/Library/Application Support/Quicksilver/PlugIns/&lt;/code&gt;
find
&lt;code&gt;com.blacktree.quicksilver.QSFirefoxPlugin.*.qsplugin&lt;/code&gt;
right-click -&amp;gt; "Show Package Contents", then open
&lt;code&gt;Contents/Info.plist&lt;/code&gt;
In there, find the entry 
&lt;code&gt;QSPresetAdditions -&amp;gt; Item 0 -&amp;gt; children -&amp;gt; Item 1 -&amp;gt; settings -&amp;gt; historySize&lt;/code&gt;
And change the number to something different. After restarting Quicksilver and rescanning the catalog, the new settings will be applied. Sorry for the inconvenience. Maybe there'll be a user interface for that in the future.&lt;/p&gt;
&lt;p&gt;It also adds a proxy object that contains the webpage you have currently open in Firefox. It's called "&lt;strong&gt;Current Web Page (Firefox)&lt;/strong&gt;" and works just like the one for Safari. One limitation though: There might be a slight delay. Firefox only updates this information every few seconds (every 15 seconds by default, I believe), and the proxy object only has access to this delayed information. For me, this was rarely a problem. But if you really need to reduce this delay, you can do this by changing a hidden preference in Firefox. To do this, type 
&lt;code&gt;about:config&lt;/code&gt; 
in Firefox's address bar. You'll get to a page where you can modify all kinds of weird options for Firefox. Don't mess with them, unless you know what you are doing! Now type 
&lt;code&gt;sessionstore.interval&lt;/code&gt;
in the filter-field. The 
&lt;code&gt;browser.sessionstore.interval&lt;/code&gt; 
value is in milliseconds. Change it to something smaller. But making it too small might slow down Firefox. So be careful!&lt;/p&gt;</string>
		<key>icon</key>
		<string>org.mozilla.firefox</string>
		<key>relatedBundles</key>
		<array>
			<string>org.mozilla.firefox</string>
		</array>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetFirefoxGroup</string>
			<key>children</key>
			<array>
				<dict>
					<key>ID</key>
					<string>QSPresetFirefoxBookmarks</string>
					<key>enabled</key>
					<true/>
					<key>icon</key>
					<string>org.mozilla.firefox</string>
					<key>name</key>
					<string>Firefox Bookmarks</string>
					<key>requiresBundle</key>
					<string>org.mozilla.firefox</string>
					<key>requiresSettingsPath</key>
					<true/>
					<key>settings</key>
					<dict>
						<key>fileContents</key>
						<string>Firefox Bookmarks</string>
						<key>parser</key>
						<string>QSFirefoxBookmarksParser</string>
						<key>path</key>
						<string>~/Library/Application Support/Firefox/Profiles/*/places.sqlite</string>
						<key>skipItem</key>
						<integer>1</integer>
					</dict>
					<key>source</key>
					<string>QSFileSystemObjectSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPresetFirefoxHistory</string>
					<key>enabled</key>
					<false/>
					<key>icon</key>
					<string>org.mozilla.firefox</string>
					<key>name</key>
					<string>Firefox History</string>
					<key>requiresBundle</key>
					<string>org.mozilla.firefox</string>
					<key>requiresSettingsPath</key>
					<true/>
					<key>settings</key>
					<dict>
						<key>fileContents</key>
						<string>Firefox History</string>
						<key>historySize</key>
						<integer>200</integer>
						<key>parser</key>
						<string>QSFirefoxHistoryParser</string>
						<key>path</key>
						<string>~/Library/Application Support/Firefox/Profiles/*/places.sqlite</string>
						<key>skipItem</key>
						<integer>1</integer>
					</dict>
					<key>source</key>
					<string>QSFileSystemObjectSource</string>
				</dict>
			</array>
			<key>icon</key>
			<string>org.mozilla.firefox</string>
			<key>name</key>
			<string>Firefox</string>
			<key>source</key>
			<string>QSGroupObjectSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSFSParsers</key>
		<dict>
			<key>QSFirefoxBookmarksParser</key>
			<string>QSFirefoxBookmarksParser</string>
			<key>QSFirefoxHistoryParser</key>
			<string>QSFirefoxHistoryParser</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSFirefoxPlugIn</key>
			<string>QSFirefoxPlugIn</string>
		</dict>
		<key>QSProxies</key>
		<dict>
			<key>QSFirefoxCurrentWebPageProxy</key>
			<dict>
				<key>icon</key>
				<string>org.mozilla.firefox</string>
				<key>name</key>
				<string>Current Web Page (Firefox)</string>
				<key>providerClass</key>
				<string>QSFirefoxPlugIn</string>
				<key>types</key>
				<array>
					<string>Apple URL pasteboard type</string>
					<string>NSStringPboardType</string>
				</array>
			</dict>
		</dict>
		<key>QSWebBrowserMediators</key>
		<dict>
			<key>org.mozilla.firefox</key>
			<string>QSFirefoxPlugIn</string>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>version</key>
		<string>4001</string>
	</dict>
</dict>
</plist>
